footer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center ;
  color: white;
  /* background-color: #1976d2; */
  background-color: #121212;
}
.footer-content{
  width: 100%;
  display: grid;
  grid-template-columns: 70% 30%;
  max-width: 1000px;
}
/* footer * {
  margin-top: 5px;
}
footer > * > * {
  margin-top: 5px;
}
.footer-left {
  width: 70%;
  max-width: 500px;
} */
.footer-right {
  /* max-width: 100px; */
}

